<!DOCTYPE html>
<html lang="en">
<head>
  <%-include("./partials/head") %>
  <title>Add new Blog </title>
</head>
<body>
  <%-include("./partials/nav")%>


  <%=JSON.stringify(user)%>

  <div class ="container mt-4">
    
      <form action="/blog/add-new" method="post" enctype="multipart/form-data" >

      <div class="mb-3 ">
        <label for="coverImage" class="form-label">Cover Image</label>
        <input 
        type="file" 
        name="coverImage" 
        class="form-control" 
        id="coverImage" 
        aria-describedby="coverImage">
      

      <div class="mb-3 ">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input 
        type="text" 
        name="title" 
        class="form-control" 
        id="title" 
        aria-describedby="emailHelp">
      </div>

      <div class="mb-3">
        <label for="body" class="form-label">Blog</label>
        <input 
        type="text" 
        name="body" 
        class="form-control" 
        id="body">
      </div>

      <button type="submit" class="btn btn-primary">Post</button>
    </form>
  </div>

  <%-include("./partials/scripts") %>
  
</body>
</html>